/* Game */
html, body {
    max-width: 100%;
}

.board {
    font-size: x-large;
    border-collapse: collapse;
    text-align: center;
    margin-left: 25%;
}

.board td{
    border: 1.5px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
}

.robot_field{
    cursor: pointer;
}

.fa{
    text-align: center;
}


.fa-football-ball{
    color: rgb(214, 200, 200);
}

.fa-robot{
    font-size: 1em;
}

 .fa-moon{
    font-size: 1em;
}

.fa-meteor{
    font-size: 1em;
}

.fa-cogs{
    font-size: 1em;
}

.fa-battle-net{
    font-size: 1em;
}

.fa-star{
    font-size: 1em;
}

/* Main menu */

.main_menu{
    list-style-type: none;   
}

.main_menu_entry{
    margin: 10px;
}

.main_menu_button{

}

/* Stats */
.radio_stat {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    font-size: large;
}

.radio_stat_element{
    display: inline;
    margin-right: 5px;
}

.stat_table{
    border-collapse: collapse;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

.stat_row{

}
.btn_group:after{
    content: "";
    clear: both;
    display: table;
}

.btn_stats {
    background-color: darkgray;
    border: 1px solid darkgray;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
}

#back
{
    
}

.btn_stats:hover{
    background-color: rgb(160, 157, 157);
}

.stat_row_head{
    border: 1.5px solid black;
    background-color: darkgray;
    color: black;
    min-width: 130px;
}

.stat_row_data{
    border: 1.5px solid black;
}



h1{
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

input::placeholder{
    color: gray;
}

.input{
    padding: 10px;
    height: 20px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
}

.input:focus{
    outline: none;
    background-color: darkgray;
    color: yellow;
}


.label{
    margin-bottom: 4px;
}
  
.label:nth-of-type(2){
    margin-top: 12px;
}

.button{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    background-color: darkgray;
}
.wrapper{
    margin: 0;
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    background-image: url(slika2.png);
    background-repeat: repeat;
    background-size: 900px 600px;
}


